---
layout: archive
title: Manuscripts by country
permalink: /mss-by-country.html
sidebar:
    nav: dmc
---

<section id="introduction">
All manuscripts in the collection, by country of production.
</section>

{% assign mss_by_country = site.data.countcent | group_by: "country" | sort: "name" %}
<ol>
    {% for ms_group in mss_by_country %}
    {% assign mss = ms_group.items | sort: "century" %}
    {% for ms in mss %}
    <li><a href="{{ ms.url | prepend: 'manuscripts/' | relative_url }}">{{ ms.country }}, {{ ms.century }} – {{ms.shelfmark}}</a></li>
    {% endfor %}
    {% endfor %}
</ol>

