---
layout: single-ms
classes: wide
---
{% assign this_route = site.routes | where:"identifier",page.route | first %}
{% assign this_ms = site.data.handles | where:"signatuur",page.shelfmark | first %}
<header class="route-title"><a href="{{ this_route.url | relative_url }}" rel="up">{{ this_route.title }}</a></header>
<nav class="ms-title">
    <div id="prev"><a href="{{ page.previous.url | relative_url }}" rel="prev" title="Previous manuscript">☜</a></div>
    <h1>{{ page.title }}</h1>
    <div id="next"><a href="{{ page.next.url | relative_url }}" rel="next" title="Next manuscript">☞</a></div>
</nav>
<section id="sect-viewer">
    <div id="viewer"></div>
    <div id="ms-identification"><span class="shelfmark"><a href="{{ this_ms.handle }}" title="See {{ page.shelfmark }} in Digital Collections">{{ page.shelfmark }}</a></span> ({{ page.origin }}, {{ page.ms_date }}):
        {% if page.ms_creator %}{{ page.ms_creator }}, {% endif %}
        <em>{{ page.ms_title }}</em> ({{ page.ms_title_en }}), {{ page.material }}, {{ page.pages }}, {{ page.dimensions }}, {{ page.columns }}, {{ page.lines }}.</div>
    <div id="description" itemprop="text">{{ content }}</div>
</section>
{% if page.questions %}
<section id="questions">
    <header><h1>Questions</h1></header>
    <ol>
        {% for q in page.questions %}<li>{{ site.data.questions[q] }}</li>{% endfor %}
    </ol>
</section>
{% endif %}
<section id="related">
    <header><h1>Related manuscripts</h1></header>
    <ol>
        {% for ms in site.data.most_sim[page.shelfmark] %}
         <li><a href="{{ ms | downcase | replace: ' ', '-' | prepend: '/manuscripts/' | append: '/' | relative_url }}" target="_blank">{{ ms }}</a></li>{% endfor %}
    </ol>
</section>
<section id="bibliography">
    <header><h1>Literature</h1></header>
    {% bibliography --cited %}
</section>
<script type="text/javascript">
    const re = /[fp]?(\d{3}\**[abrv]?)/g
    // "f284v-285r (NB f197v-f284r blanco, niet opgenomen)"
    // "f122v-122*r"
    // "f122*v-122**r"
    // "f122**v-122***r"
    // "f122***v-123r"
    // "opening05 (incl. f001r)"
    function createUriIndex(manifestData) {
        var index = {};
        for (const canvas of manifestData.jsonLd.sequences[0].canvases) {
            var label = canvas.label;
            var uri = canvas["@id"];
            for (const m of label.matchAll(re)) {
                index[m[1]] = uri;
            }
            index[label] = uri;
        }
        return index;
    }
    function handleRefClick(clickEvent) {
        if (clickEvent.target.nodeName.toLowerCase() === "span") {
            var node = clickEvent.target;
            var label = node.dataset["fol"];
            label = /[rvab]$/.test(label) ? label.padStart(4, '0') : label.padStart(3, '0');
            var canvasUri = findCanvasUriByLabel(label);
            if (canvasUri) {
                mirWindow.setCurrentCanvasID(canvasUri);
                // console.debug('Navigated to ', canvasUri);
            }
        }
    }

    function findCanvasUriByLabel(label) {
        if (label in uriIndex) {
            return uriIndex[label];
        }
        return null;
    }
    var mir;
    var mirWindow;
    var uriIndex;
    $(function() {
        mir = Mirador({
        id: "viewer",
        buildPath: "https://lab.library.universiteitleiden.nl/mirador/2.7.0/",
        data: [{manifestUri: "{{ this_ms.manifest }}", location: "Leiden University Library"}],
        mainMenuSettings: {
            show: false
        },
        windowObjects: [{
            loadedManifest: "{{ this_ms.manifest }}",
            displayLayout: false,
            bottomPanel: false,
            bottomPanelAvailable: false,
            bottomPanelVisible: false,
            sidePanel: false,
            id: 'the_window'
        }]
        });
        mir.eventEmitter.subscribe('windowAdded', (event, data) => {
            mirWindow = mir.viewer.workspace.windows[0];
        });
        mir.eventEmitter.subscribe('manifestReceived', (event, data) => {
            uriIndex = createUriIndex(data);
        });
        document.querySelector('#description').addEventListener('click', handleRefClick);
    });
</script>