---
layout: single-ms
classes: wide
---
{% assign this_route = site.routes | where:"identifier",page.route %}
<header>{% for route in this_route %}{{ route.title }}{% endfor %}</header>
<nav class="ms-title">
    <div id="prev"><a href="{{ page.previous.url | relative_url }}" rel="prev" title="Previous manuscript">☜</a></div>
    <h1>{{ page.title }}</h1>
    <div id="next"><a href="{{ page.next.url | relative_url }}" rel="next" title="Next manuscript">☞</a></div>
</nav>
<section id="sect-viewer">
    <div id="viewer"></div>
    <div id="ms-identification"><span class="shelfmark">{% if page.handle %}<a href="{{ page.handle }}" title="See {{ page.shelfmark }} in Digital Collections">{{ page.shelfmark }}</a>{% else %}{{ page.shelfmark }}{% endif %}</span> ({{ page.origin }}, {{ page.ms_date }}): {{ page.ms_title }} ({{ page.ms_title_en }}), {{ page.material }}, {{ page.pages }}, {{ page.dimensions }}, {{ page.columns }}, {{ page.lines }}.</div>
    <div id="description">{{ content }}</div>
</section>
{% if page.questions %}
<section id="questions">
    <header><h1>Questions</h1></header>
    <ol>
        {% for q in page.questions %}<li>{{ site.data.questions[q] }}</li>{% endfor %}
    </ol>
</section>
{% endif %}
<section id="related">
    <header><h1>Related manuscripts</h1></header>
    <ol>
        {% for ms in site.data.most_sim[page.shelfmark] %}
         <li><a href="{{site.baseurl}}/manuscripts/{{ ms | downcase | replace: ' ', '-' | append: '/'}}" target="_blank">{{ ms }}</a></li>{% endfor %}
    </ol>
</section>
<section id="bibliography">
    <header><h1>Literature</h1></header>
    {% bibliography --cited %}
</section>
<script type="text/javascript">
    var mir;
    $(function() {
        mir = Mirador({
        id: "viewer",
        buildPath: "https://lab.library.universiteitleiden.nl/mirador/2.7.0/",
        data: [{manifestUri: "{{ page.manifest }}", location: "Leiden University Library"}],
        mainMenuSettings: {
            show: false
        },
        windowObjects: [{
            loadedManifest: "{{ page.manifest }}",
            displayLayout: false,
            bottomPanel: false,
            bottomPanelAvailable: false,
            bottomPanelVisible: false,
            sidePanel: false
        }]
        });
    });
</script>